@font-face {
    font-family: "GothamPro";
    src: url(GothamPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "GothamPro";
    src: url(GothamPro-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "GothamPro";
    src: url(GothamPro.ttf);
    font-weight: 400;
}